fastapi
uvicorn
python-dotenv
sqlalchemy
httpx
asyncpg
asyncpgsa
sqlalchemy-mixins
sqlalchemy-utils
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
email-validator==2.1.0.post1
requests
